<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="header">
  <div class="name">Sahiti Akella</div>
  <div class="links">
    <a href="#about" class="nav-link">about</a>
    <a href="#experience" class="nav-link">experience</a>
    <a href="#achievements" class="nav-link">achievements</a>
    <a href="#projects" class="nav-link">projects</a>
    <a href="#courses" class="nav-link">courses</a>
  </div>
  <div class="socials">
    <a href="https://www.linkedin.com/in/sahiti-akella" target="_blank" class="social-link">
      <i class="fab fa-linkedin social-icon" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/sahiti-akella" target="_blank" class="social-link">
      <i class="fab fa-github social-icon" aria-hidden="true"></i>
    </a>
    <a href="mailto:sahiti.akella@gmail.com" class="social-link">
      <i class="far fa-envelope social-icon" aria-hidden="true"></i>
    </a>
  </div>
</div>



<div class="stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>


<div class="welcome-message" class="about fade-in">
  <div class="welcome-text">hi, i'm sahiti! welcome to my portfolio website</div>
  <div class="welcome-subtext">explore my experience, courses, and projects below.</div>
</div>


<div id="about" class="about fade-in">
  <div class="about-title">about me</div>
  <div class="about-text">Hi! My name is Sahiti Akella and I'm a Software Engineering student at the University of Calgary. 
    I am passionate about anything web related and am currently exploring mobile app development to further enhance my skillset. 

   Outside of tech, I enjoy art (especially sketching), photography, and hiking.

  </div>
</div>

<div id="experience" class="experience fade-in">
  <div class="experience-title">experience</div>
  <div class="experience-list">
    <div class="experience-item">
      <div class="job-title">Client Services Analyst - University of Calgary, IT Department</div>
      <ul>
        <li>Communicate with clients, development and advancement teams to effectively troubleshoot issues within the Web Content Management System.</li>
        <li>Manage and ensure timely resolution of task and incident tickets through ServiceNow queue.</li>
        <li>Write bug tickets in response to client reported issues, ensuring optimal web environment functionality.</li>
        <li>Perform pre-release QA testing of development tickets using staging environments.</li>
    </ul>
    </div>
    <div class="experience-item">
      <div class="job-title">Full Stack Developer Intern - Softsellr</div>
      <ul>
        <li>Developed and maintained responsive user interfaces using Angular.js, ensuring seamless integration with backend APIs for optimal performance and user experience.</li>
        <li>Designed and implemented efficient SQL queries and managed PostgreSQL databases to handle large datasets, ensuring data integrity and optimal query performance.</li>
        <li>Created and integrated APIs to facilitate communication between the frontend and backend services, and conducted thorough integration and QA testing to ensure system reliability and functionality.</li>
        <li>Leveraged AWS tools such as Amplify and CloudFront to enhance application scalability, performance, and security, alongside automating data processing tasks with Python scripts.</li>
    </ul>
    </div>
   
    <div class="experience-item">
      <div class="job-title">Web Developer Intern - University of Calgary, IT Department</div>
      <ul>
        <li>Enhanced module and block features for the University's Drupal environment, leveraging JavaScript, PHP, and SCSS for improved functionality and user experience.</li>
        <li>Facilitated seamless, cross-functional collaboration through effective use of GitLab and Jira.</li>
        <li>Supported the Quality Assurance team in pre-release testing, ensuring the reliability and performance of key website features.</li>
        <li>Participated actively in sprint planning and daily scrum meetings, effectively communicating workflow and progress with development and client services teams.</li>
    </ul>
    </div>
   
    <div class="experience-item">
      <div class="job-title">Web Developer - Tech Start UCalgary</div>
      <ul>
        <li>Led the design, enhancement, and implementation of key features for the club website using React, HTML, CSS, and TypeScript.</li>
        <li>Optimized website performance and resolved critical bug issues, ensuring a seamless user experience.</li>
        <li>Collaborated effectively using GitHub for version control and streamlined communication among project members.</li>
        <li>Operated within cross-functional teams, employing Agile methodologies to drive project success and enhance team collaboration.</li>
    </ul>

    </div>
    
  </div>
</div>

<div id="achievements" class="about fade-in">
  <div class="achievements-title">achievements</div>
  
  <div class="achievements-list">
    <div class="achievement-item">Placed on Dean's List (2023 - 2024)</div>
    <div class="achievement-item">Placed 3rd in Arcurve Hackathon
      <a class="hackathon-link" href="https://devpost.com/software/habitcycle"> Check it out &#8594;</a>

    </div>
    <div class="achievement-item">Jason Lang Scholarship (2022 - 2023)</div>
    <div class="achievement-item">Jason Lang Scholarship (2021 - 2022)</div>
    <div class="achievement-item">Diversity Champions in Engineering Award (2021)</div>
  </div>
</div>

<div id="projects" class="projects fade-in">
  <div class="projects-title">projects</div>
  
  <div class="projects-grid">
    <div class="project-card">
      <div class="project-card-image">
        <img src="Portfolio.jpg" alt="Project Image">
      </div>
      <div class="project-card-title">
        <a href="https://github.com/sahiti-akella/Sahiti-Portfolio" class="github-logo" target="_blank">
          <img src="github-logo.svg" alt="GitHub">
        </a>
        portfolio website
      </div>
      <div class="project-card-description"> portfolio website</div>
      <div class="project-card-stack"> Angular.js, HTML, SCSS </div>
    </div>

    <div class="project-card">
      <div class="project-card-image">
        <img src="PlotPonder.jpg" alt="Project Image">
      </div>
      <div class="project-card-title">
        <a href="https://github.com/sahiti-akella/SENG401FinalProject" class="github-logo" target="_blank">
          <img src="github-logo.svg" alt="GitHub">
        </a>
        plotponder</div>
      <div class="project-card-description">plotponder Description</div>
      <div class="project-card-stack"> Express.js, Springboot, Java, React, JavaScript, Firebase, MySQL </div>
      
    </div>

    <div class="project-card">
      <div class="project-card-image">
        <img src="AirlineBooking.jpg" alt="Project Image">
      </div>
      <div class="project-card-title">
        <a href="https://github.com/sahiti-akella/ENSF-480-Term-Project-F23" class="github-logo" target="_blank">
          <img src="github-logo.svg" alt="GitHub">
        </a>
        airline booking system</div>
      <div class="project-card-description">Airline Booking System</div>
      <div class="project-card-stack"> Java, MySQL </div>
    </div>

    <div class="project-card">
      <div class="project-card-image">
        <img src="Obituary.jpg" alt="Project Image">
      </div>
      <div class="project-card-title">
        <a href="https://github.com/sahiti-akella/Obituary-Maker" class="github-logo" target="_blank">
          <img src="github-logo.svg" alt="GitHub">
        </a>
        obituary generator</div>
      <div class="project-card-description">Obituary Generator Description</div>
      <div class="project-card-stack"> React, JavaScript, Python, CSS, AWS Lambda, AWS DynamoDB, Terraform </div>
    </div>

    <div class="project-card">
      <div class="project-card-image">
        <img src="Lotion.jpg" alt="Project Image">
      </div>
      <div class="project-card-title">
        <a href="https://github.com/sahiti-akella/lotionplusfinal" class="github-logo" target="_blank">
          <img src="github-logo.svg" alt="GitHub">
        </a>
        lotion : a note-taking application</div>
      <div class="project-card-description">Lotion : A Note-Taking Application Description</div>
      <div class="project-card-stack"> React, JavaScript, Python, CSS, AWS Lambda, AWS DynamoDB </div>
    </div>

    <div class="project-card">
      <div class="project-card-image">
        <img src="WildlifeSchedule.jpg" alt="Project Image">
      </div>
      <div class="project-card-title">
        <a href="https://github.com/your-repo-link" class="github-logo" target="_blank">
          <img src="github-logo.svg" alt="GitHub">
        </a>
        wildlife rescue centre scheduler</div>
      <div class="project-card-description">Wildlife Rescue Centre Scheduler Description</div>
      <div class="project-card-stack"> Java, MySQL </div>
    </div>
    <!-- Add more project cards as needed -->
  </div>
</div>

<div id="courses" class="about fade-in">
  <div class="courses-title">courses</div>

  <div class="dropdown-container">
    <div class="dropdown">
      <button class="dropdown-btn">2023 - 2024</button>
      <div class="dropdown-content">
        <a>GRST 211</a>
        <a>RELS 200</a>
        <a>ECON 209</a>
        <a>ENSF 480</a>
        <a>ENSF 461</a>
        <a>ENSF 462</a>
        <a>ENSF 460</a>
        <a>ENSF 400</a>
        <a>ENSF 444</a>
        <a>SENG 401</a>
        <a>SENG 438</a>
        <a>ENGG 513</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropdown-btn">2022 - 2023</button>
      <div class="dropdown-content">
        <a>COMS 363</a>
        <a>MATH 375</a>
        <a>ENDG 319</a>
        <a>ENEL 353</a>
        <a>ENSF 300</a>
        <a>ENSF 337</a>
        <a>MATH 271</a>
        <a>ENCM 369</a>
        <a>ENGG 481</a>
        <a>ENSF 338</a>
        <a>ENSF 380</a>
        <a>ENSF 381</a>
        
      </div>
    </div>

    <div class="dropdown">
      <button class="dropdown-btn">2021 - 2022</button>
      <div class="dropdown-content">
        <a>MATH 211</a>
        <a>PHYS 259</a>
        <a>MATH 275</a>
        <a>ENGG 209</a>
        <a>ENDG 233</a>
        <a>MATH 277</a>
        <a>ENGG 200</a>
        <a>PHYS 259</a>
        <a>ENGG 202</a>
        <a>CHEM 209</a>
      </div>
    </div>
  </div>
</div>

